version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: tpDB
      MYSQL_USER: etudiant
      MYSQL_PASSWORD: etudiantpwd
    ports:
      - "3306:3306"
    volumes:
      data_base:
